@font-face{
    font-family: 'Rubik';
    src: url(../assets/Rubik-Regular.ttf);
}
@font-face{
    font-family: 'Rubik-Heavy';
    src: url(../assets/Rubik-Bold.ttf);
}
@font-face{
    font-family: 'Rubik-Light';
    src: url(../assets/Rubik-Light.ttf);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    background: #E1E0E0;
    color: #212121;
    line-height: 1.6;
    font-family: 'Rubik', sans-serif;
    padding: 0 1.5em;
    
}
.separador-header-main{
    height: 100px;
}
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
    font-family: 'Rubik-Light';
    color: #59b109;
    padding-bottom: 3rem;
}

/* CONTACT INFO */
.contact-info {
    background: #626262;
    color: #f3f3f3;
    border-radius: 15px;
    text-align: center; /* Centra el texto horizontalmente */
    display: flex; /* Usa flexbox para centrar verticalmente */
    flex-direction: column; /* Alinea los elementos en una columna */
    align-items: center; /* Centra los elementos en el eje horizontal */
    justify-content: center; /* Centra los elementos en el eje vertical */
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
    
}

.contact-info img{
    height: 15px;
    padding-right: 10px;
    filter: brightness(0) invert(1);
}
.direccion-contact-info{
    display:flex
}
.telefono-contact-info{
    display:flex;
    
}
.separador-main-footer{
    height: 35px;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    main {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
    .contact-info {
        padding-top: 10px;
    }
}
@media(max-width: 840px){
    .contact-info{
        margin-top: 15px;
        
    }
    .contact-wrapper{
        display: block;
    }
    .contact-form{
        padding-right: 0;
        margin-right: 0;
    }
    .direccion-contact-info{
        display: flex;
        justify-content: center;
    }
    
}